body {
	background-color: #eeeeee;
	font-family: verdana, sans-serif;
}

.h {
	color: #990000;
}

.c {
	color: #009900;
}

.d {
	color: #000099;
}

.s {
	color: black;
}

table {
	border-radius: 5px;
	background-color: #ccffcc;
	border-collapse: seperate;
	border-spacing: 2px;
	border: 1px solid #999999;
}

/* game selection */
#game { }

/* deck table */
#deck { }

/* board table */
#board { }

/* hands table */
#hands { }

/* table cell in deck table ( could use #deck .card ? ) */
/** rename to deckCard */
.deck { }

.deck:hover {
	background-color: #ff9999;
}

/* table cell in hand table ( could use #hands .card ? ) */
/* rename to handCard */
.hand { }

/** table row in board or hand table (could use #hands tr ? not with header row...) */
.handrow { 

}

.handrow:hover { 
	background-color: #cccc66;
}

.infoheader {
	min-width: 5em;
}

/* table cell for hand value */
.value { }

/* table cell containing card */
.card {
	text-align: center;
	vertical-align: middle;
	width: 2.25em;
	height: 2em;
	padding: 2px;
	background-color: white;
	cursor: default;
	border-radius: 5px;
	border: 1px solid #cccccc;
	font-weight: bold;
	font-size: large;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-widget {
    font-family: verdana,sans-serif;
    font-size: medium;
}

.ui-tooltip {
	font-size: smaller;
}

.card :hover {
	/*font-weight: bold;
	font-style: italic;
	border-color: black;
	background-color: #ff9999;*/
}

/* selected table cell in deck */
.selected {
	background-color: #cccccc;
}

/** table cell representing out in deck */
.out {
	background-color: #99ff99;
}

/** selected table cell in hands */
.current {
	background-color: #9999ff;
}

.button {
	border: 1px solid black;
	background: lightgray;
	padding: 5px;
	cursor: default;
}

.buttons {
	margin: 5px;
	padding: 5px;
}

/* table hand row error */
.error {
	background-color: darkorange;
	/*border: 1px solid red;*/
}
